# please enter your username and password
# note: it WON'T record them
username = 'johnlin123'
password = 'pass123'

# give it a filename if you want to debug
debug_log = None

# if you don't want any output from ptt.py
# you can turn this on
quiet_mode = False

